.about {
  text-align: center;
  flex-direction: column;
  margin-top: 3em;
}

.about__name {
  color: var(--clr-primary);
}

.about__link:hover {
  color: var(--clr-secondary);
}

.about__role {
  margin-top: 1.2em;
}

.about__desc {
  font-size: 1.2rem;
  max-width: 600px;
}

.about__desc,
.about__contact {
  margin-top: 2.4em;
}

.about .link--icon {
  margin-right: 2.5em;
  scale: 200%;
}

.about .btn--outline {
  margin-right: 2.5em;
}

@media (max-width: 600px) {
  .app .about {
    align-items: flex-start;
    margin-top: 2em;
  }
}
